*.log
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Others
activate_venv.bat
venv/
debugging/
edtr.me/config.flags
src/
*.sublime-project
*.sublime-workspace
TODO.txt
*.TODO
.ropeproject

