{% extends "base.html" %}

{% block body_container %}
    {{ super() }}
    <div style="padding-bottom:50px;">
        <button id="debug"
                class="btn btn-success btn-small cme-button-tooltip" href="#">
            <span id="btn_debug">AJAX Metadata</span>
        </button>
        <button id="file_get"
                class="btn btn-success btn-small cme-button-tooltip" href="#">
            <span id="btn_file_get">AJAX File</span>
        </button>
    </div>

    <div>
        <button id="debug_socketion"
                class="btn btn-success btn-small cme-button-tooltip" href="#">
            <span id="btn_debug_socketio">SocketIO Metadata</span>
        </button>
        <button id="sio_file_get"
                class="btn btn-success btn-small cme-button-tooltip" href="#">
            <span id="btn_sio_file_get">SocketIO File</span>
        </button>
    </div>
{% endblock %}

{% block extra_footer %}
    {{ super() }}
    <!-- AJAX -->
    <script type="text/javascript">
    function getCookie(name) {
        var c = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return c ? c[1] : undefined;
    }
    $('#debug').click(function(){
        $.post("{{reverse_url('dropbox_get_path')}}",
            {
                "_xsrf": getCookie("_xsrf"),
                "path": "/"
            },
            function(response) {
                console.log("_______AJAX: update_db_tree_________");
                for (f in response){
                    console.log(f+":")
                    console.log(response[f])
                }
                console.log("_______ AJAX: update_db_tree end_________");
            })
    })
    $('#file_get').click(function(){
        $.post("{{reverse_url('dropbox_get_file')}}",
            {
                "_xsrf": getCookie("_xsrf"),
                "path": "/1.txt"
            },
            function(response) {
                console.log("_______AJAX: dropbox_get_file_________");
                for (f in response){
                    console.log(f+":")
                    console.log(response[f])
                }
                console.log("_______ AJAX: dropbox_get_file end_________");
            })
    })
    </script>

    <!-- SOCKETIO -->
    <script src="{{ static_url('js/socket.io.js') }}"></script>
    <script>
    $(function() {
        var s = new io.connect(
            'http://' + window.location.host + '?xsrf=' + getCookie("_xsrf"));

        // Establish event handlers
        s.on('disconnect', function() {
            s.socket.reconnect();
        });

        // Event response
        s.on('get_tree', function(response) {
            console.log("__SOCKET_IO__")
            var response = JSON.parse(response)
            for (f in response){
                console.log(f+":")
                console.log(response[f])
            }
            console.log("__SOCKET_IO__ end")
        });

        s.on('get_file', function(response) {
            console.log("__SOCKET_IO Get file__")
            var response = JSON.parse(response)
            for (f in response){
                console.log(f+":")
                console.log(response[f])
            }
            console.log("__SOCKET_IO Get file__ end")
        });

        // Start event
        $('#debug_socketion').click(function() {
            s.emit('get_tree', '/');
            return false;
        });

        $('#sio_file_get').click(function() {
            s.emit('get_file', '/1.txt');
            return false;
        });
    });
    </script>
{% endblock %} <!-- extra_footer -->
