{% extends "base.html" %}

{% block body_container %}
    {{ super() }}
    <button id="debug"
            class="btn btn-success btn-small cme-button-tooltip" href="#">
        <span id="btn_debug">Debug AJAX</span>
    </button>

    <button id="debug_socketion"
            class="btn btn-success btn-small cme-button-tooltip" href="#">
        <span id="btn_debug_socketio">Debug socketio</span>
    </button>
{% endblock %}

{% block extra_footer %}
    {{ super() }}
    <!-- AJAX -->
    <script type="text/javascript">
    function getCookie(name) {
        var c = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return c ? c[1] : undefined;
    }
    $('#debug').click(function(){
        $.post('/api/0.1/dropbox/get_tree/',
            {
                "_xsrf": getCookie("_xsrf"),
                "path": "/"
            },
            function(response) {
                console.log("_______update_db_tree_________");
                for (f in response){
                    console.log(f+":")
                    console.log(response[f])
                }
                console.log("_______ update_db_tree end_________");
            })
    })
    </script>

    <!-- SOCKETIO -->
    <script src="{{ static_url('js/socket.io.js') }}"></script>
    <script>
    $(function() {
        var s = new io.connect(
            'http://' + window.location.host + '?xsrf=' + getCookie("_xsrf"));

        // Establish event handlers
        s.on('disconnect', function() {
            s.socket.reconnect();
        });

        // Event response
        s.on('get_tree', function(response) {
            console.log("__SOCKET_IO__")
            var response = JSON.parse(response)
            for (f in response){
                console.log(f+":")
                console.log(response[f])
            }
            console.log("__SOCKET_IO__ end")
        });

        // Start event
        $('#debug_socketion').click(function() {
            s.emit('get_tree', '/');
            return false;
        });
    });
    </script>
{% endblock %} <!-- extra_footer -->
