<!--
    Underscore templates - we use them to avoid conflicts with tornado jinja templates
-->

<!--
    Add New File
-->
<script id="modal_add_file_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_add_file" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Add new file to Dropbox</h3>
        </div>
        <div class="modal-body">
            <h4 class="modal-heading">In SubFolder:</h4>
            <p></p>
            <pre><%= path %></pre>
            <h4 class="modal-heading">Use presets:</h4>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date:
                    <code class="modal-shifted-code modal-date"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date_Time:
                    <code class="modal-shifted-code modal-datetime"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date short:
                    <code class="modal-shifted-code modal-date-short"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date_Time short:
                    <code class="modal-shifted-code modal-datetime-short"></code>
                </label>
                <hr>
                <div class="input-append">
                    <input type="text" name="new-filename" class="modal-filename-input"
                        value="<%= default_filename %>">
                    <span class="add-on modal-filename-input-add-on">.md</span>
                </div>
                <p class="modal-filename-input-error"></p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary modal-submit-button">Create File</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_add_file_template -->

<!--
    Add New SubDirectory
-->
<script id="modal_add_subdir_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_add_subdir" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Create new directory on Dropbox</h3>
        </div>
        <div class="modal-body">
            <h4 class="modal-heading">In SubFolder:</h4>
            <p></p>
            <pre><%= path %></pre>
            <h4 class="modal-heading">Use presets:</h4>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Year:
                    <code class="modal-shifted-code modal-year"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Year_Month:
                    <code class="modal-shifted-code modal-yearmonth"></code>
                </label>
                <hr>
                <input type="text" name="new-filename" class="modal-filename-input"
                    value="<%= default_filename %>">
                <p class="modal-filename-input-error"></p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary modal-submit-button">Create Directory</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_add_subdir_template -->

<!--
    Rename File
-->
<script id="modal_rename_file_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_rename_file" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Rename file on Dropbox</h3>
        </div>
        <div class="modal-body">
            <h4>From:</h4>
            <p></p>
            <pre><%= from_filename %></pre>
            <h4>To:</h4>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date:
                    <code class="modal-shifted-code modal-date"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date_Time:
                    <code class="modal-shifted-code modal-datetime"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date short:
                    <code class="modal-shifted-code modal-date-short"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Date_Time short:
                    <code class="modal-shifted-code modal-datetime-short"></code>
                </label>
                <hr>
                <div class="input-append">
                    <input type="text" name="new-filename" class="modal-filename-input"
                        value="<%= default_filename %>">
                    <span class="add-on modal-filename-input-add-on">.md</span>
                </div>
                <p class="modal-filename-input-error"></p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary modal-submit-button">Rename File</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_rename_file_template -->

<!--
    Rename SubDirectory
-->
<script id="modal_rename_subdir_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_rename_subdir" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Rename directory on Dropbox</h3>
        </div>
        <div class="modal-body">
            <h4>From:</h4>
            <p></p>
            <pre><%= from_filename %></pre>
            <h4>To:</h4>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Year:
                    <code class="modal-shifted-code modal-year"></code>
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" class="modal-radio">
                    Current Year_Month:
                    <code class="modal-shifted-code modal-yearmonth"></code>
                </label>
                <hr>
                <input type="text" name="new-filename" class="modal-filename-input"
                    value="<%= default_filename %>">
                <p class="modal-filename-input-error"></p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary modal-submit-button">Rename Directory</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_rename_subdir_template -->

<!--
    Delete File
-->
<script id="modal_remove_file_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_remove_file" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Delete file from Dropbox</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm removal of the following file:</h4>
            <p></p>
            <pre><%= filename %></pre>
            <p>Editor window will be closed !</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger modal-submit-button">Delete File</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_remove_file_template -->

<!--
    Delete Directory
-->
<script id="modal_remove_subdir_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_remove_subdir" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Delete directory from Dropbox</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm removal of the following directory:</h4>
            <p></p>
            <pre><%= filename %></pre>
            <p>
            All files in this directory will also be removed.<br/>
            Make sure it does not contain any important files !
            </p>
            <strong>Consider reviewing the files in this directory first.</strong>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger modal-submit-button">Delete Directory</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_remove_subdir_template -->

<!--
    Delete Checked nodes
-->
<script id="modal_remove_checked_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_remove_checked" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Delete checked items from Dropbox</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm removal of the following items:</h4>
            <p></p>
            <pre><%= filenames %></pre>
            <p>
            All files in selected directories will also be removed.<br/>
            Make sure you are not deleting any important files !
            </p>
            <strong>Consider reviewing the checked files again.</strong>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger modal-submit-button">Delete the files</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_remove_checked_template -->

<!--
    Publish File
-->
<script id="modal_publish_file_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_publish_file" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Publish file to Web</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm publishing the file:</h4>
            <p></p>
            <pre><%= filename %></pre>
            <hr>
            <h2><small>It will be available at the following url:</small></h2>
            <p></p>
            <a href="<%= publish_url %>" target="_blank"><%= publish_url %></a>
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary modal-submit-button">Publish File</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_publish_file_template -->

<!--
    Unpublish File
-->
<script id="modal_unpublish_file_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_unpublish_file" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Unpublish file from Web</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm unpublishing of the file:</h4>
            <p></p>
            <pre><%= filename %></pre>
            <hr>
            <h2><small>It is currently available at the following url:</small></h2>
            <p></p>
            <a href="<%= publish_url %>" target="_blank"><%= publish_url %></a>
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger modal-submit-button">Unpublish File</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_unpublish_file_template -->

<!--
    Publish Directory
-->
<script id="modal_publish_subdir_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_publish_subdir" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Publish directory to Web</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm publishing of the following directory:</h4>
            <p></p>
            <pre><%= filename %></pre>
            <p>
            All files in this directory will also be published.<br/>
            Make sure it does not contain any private files !
            </p>
            <strong>Consider reviewing the files in this directory first.</strong>
            <hr>
            <h2><small>It will be available at the following url:</small></h2>
            <p></p>
            <a href="<%= publish_url %>" target="_blank"><%= publish_url %></a>
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary modal-submit-button">Publish Directory</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_publish_subdir_template -->

<!--
    Unpublish Directory
-->
<script id="modal_unpublish_subdir_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_unpublish_subdir" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Unpublish directory from Web</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm unpublishing of the following directory:</h4>
            <p></p>
            <pre><%= filename %></pre>
            <p>
            All files in this directory will also be unpublished.<br/>
            Make sure you are not unpublishing anything important !
            </p>
            <strong>Consider reviewing the files in this directory first.</strong>
            <hr>
            <h2><small>It is currently available at the following url:</small></h2>
            <p></p>
            <a href="<%= publish_url %>" target="_blank"><%= publish_url %></a>
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger modal-submit-button">Unpublish Directory</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_unpublish_subdir_template -->

<!--
    Publish Checked nodes
-->
<script id="modal_publish_checked_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_publish_checked" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Publish checked items to Web</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm that you want to Publish the following items:</h4>
            <p></p>
            <pre><%= filenames %></pre>
            <p>
            All files in selected directories will also be published.<br/>
            Make sure you are not publishing anything private !
            </p>
            <strong>Consider reviewing the checked files again.</strong>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary modal-submit-button">Publish the files</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_publish_checked_template -->

<!--
    Unpublish Checked nodes
-->
<script id="modal_unpublish_checked_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_unpublish_checked" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Unpublish checked items from Web</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm that you want to Unpublish the following items:</h4>
            <p></p>
            <pre><%= filenames %></pre>
            <p>
            All files in selected directories will also be unpublished.<br/>
            Make sure you are not unpublishing anything important !
            </p>
            <strong>Consider reviewing the checked files again.</strong>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger modal-submit-button">Unpublish the files</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</script> <!-- modal_unpublish_checked_template -->

<!--
    Show clipped files
-->
<script id="modal_show_clipboard_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_show_clipboard" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Clipped files:</h3>
        </div>
        <div class="modal-body">
            <h4>The following items have been clipped:</h4>
            <p></p>
            <pre><%= filenames %></pre>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success modal-submit-button">Got it !</a>
        </div>
    </div>
</script> <!-- modal_show_clipboard_template -->

<!--
    Overwrite confirmation
-->
<script id="modal_overwrite_confirm_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_overwrite_confirm" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>You are about to overwrite a file/directory</h3>
        </div>
        <div class="modal-body">
            <h4>Please confirm that you want to overwrite</h4>
            <p></p>
            <pre><%= filename %></pre>
            <h4>with</h4>
            <p></p>
            <pre><%= with_filename %></pre>
        </div>
        <div class="modal-footer">
            <a href="#"
               style="width: 120px;"
               class="btn btn-success modal-submit-button pull-left">
                Yes, overwrite it
            </a>
            <a href="#"
               style="width: 120px;"
               class="btn btn-danger pull-right" data-dismiss="modal">
                No, skip this one
            </a>
        </div>
    </div>
</script> <!-- modal_overwrite_confirm_template -->


<!--
    Save, Continue Editing or Discard changes
-->
<script id="modal_save_continue_lose_template" class="modal-template"
    type="text/x-underscore-template">
    <div id="modal_save_continue_lose" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>You have unsaved changes !</h3>
        </div>
        <div class="modal-body">
            <h4>Please select appropriate action for file:</h4>
            <p></p>
            <pre><%= filename %></pre>
        </div>
        <div class="modal-footer">
            <a data-modal-button="save" href="#"
               style="width: 120px;"
               class="btn btn-success modal-submit-button pull-left">
                Save
            </a>
            <a data-modal-button="continue" href="#"
               class="btn btn-default pull-left" data-dismiss="modal">
                Continue editing...
            </a>
            <a data-modal-button="lose" href="#"
               style="width: 120px;"
               class="btn btn-danger modal-submit-button pull-right">
                Discard all changes
            </a>
        </div>
    </div>
</script> <!-- modal_save_continue_lose_template -->
