{% extends "base.html" %}

{% block extra_head %}
    {{ super() }}
{% endblock %}

{% block body_before_container %}
    {{ super() }}
    <div class="main-header navbar"> <!-- navbar-fixed-top -->
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">#EDTR</a>
                <div class="nav-collapse">
                    <ul class="nav main-menu">
                        <li class="navbar_li">
                            <a href="/">Home</a>
                        </li>
                        <li class="navbar-settings navbar_li"
                            data-action="edtr_settings_modal">
                            <a href="#">Settings</a>
                        </li>
                        <li class="navbar-settings navbar_li"
                            data-action="user_profile_modal">
                            <a href="{{reverse_url('profile')}}">Profile</a>
                        </li>
                    </ul>
                    <p class="navbar-text pull-right">
                        <a href="{{reverse_url('profile')}}">{{ user['username'] }}</a>
                        ({{ user['email'] }})
                        <a href="{{reverse_url('logout')}}"
                                style="margin-left: 20px;">Sign Out</a>
                    </p>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock %} <!-- body_before_container -->

{% block extra_main_container %}
    {{ super() }}
{% endblock %}

{% block extra_footer %}
    {{ super() }}
{% endblock %} <!-- extra_footer -->
