<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>edtr.me - {% block extra_title %}{% endblock %}</title>
    <meta name="description" content="edtr.me - Simple hosting and blogging for perfectionists">
    <meta name="author" content="Vladimir Lobak; Alexey Evseev; Bova Bovaev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap is default for all site -->    
    <link href="{{ static_url('bootstrap-2.3.0/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}">

    <!-- Le javascript -->
    <script src="{{ static_url('jquery/jquery-1.9.0.js') }}"></script>
    <!-- // <script src="{{ static_url('jquery/jquery-1.8.3.min.js') }}"></script> -->
    <script src="{{ static_url('bootstrap-2.3.0/js/bootstrap.js') }}"></script>

    <!-- More plugins 
    <script src="{{ static_url('js/jquery_cookie.js') }}"></script>
    -->

    <!-- JS customizations -->
    <script src="{{ static_url('js/edtr-helpers.js') }}"></script>

    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% block body_before_container %}
    {% endblock %}

    {% block body_container %}
    {% endblock %}

    {% block extra_footer %}
    {% endblock %}
</body>
</html>
