{% extends "base.html" %}

{% block extra_head %}
    {{ super() }}
    <!-- bootstrap customizations -->
    <style type="text/css">
        .sidebar-nav {
            padding: 11px 0;
        }
        a.brand {
            font-variant: small-caps;
        }
        div.container-fluid {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body_before_container %}
    {{ super() }}
    <div class="navbar"> <!-- navbar-fixed-top -->
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">EDTR</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li id="navbar_home" class="navbar_li">
                            <a href="/">Home</a>
                        </li>
                        <li id="navbar_settings" class="navbar_li">
                            <a href="{{reverse_url('settings')}}">Settings</a>
                        </li>
                        <li id="navbar_profile" class="navbar_li">
                            <a href="{{reverse_url('profile')}}">Profile</a>
                        </li>
                    </ul>
                    <p class="navbar-text pull-right">
                        <a href="{{reverse_url('profile')}}">{{ user['username'] }}</a>
                        ({{ user['email'] }})
                        <a href="{{reverse_url('logout')}}"
                                style="margin-left: 20px;">Sign Out</a>
                    </p>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock %} <!-- body_before_container -->

{% block body_container %}
    {{ super() }}
{% endblock %}

{% block extra_footer %}
    {{ super() }}
{% endblock %} <!-- extra_footer -->
