{% extends "base_main.html" %}

{% block extra_title %}Home{% endblock %}

{% block extra_head %}
    {{ super() }}
    <!-- JQuery TreeView
    <link rel="stylesheet" href="{{ static_url('treeview/jquery.treeview.css') }}" type="text/css" />
    -->

    <!-- CodeMirror -->
    <link rel="stylesheet" href="{{ static_url('codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ static_url('codemirror/theme/eclipse.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
{% endblock %} <!-- extra_head -->

{% block body_before_container %}
    {{ super() }}
{% endblock %}

{% block body_container %}
    {{ super() }}
    <!--
        Modal dialogs
    -->
    <div id="modal_placeholder"></div>

    <!--
        Bar for messages, errors and info
    -->
    <div id="messages_bar"></div>

    <!--
        Main view
    -->
    <div class="row">
        <div id="left_sidebar" class="span4" style="margin-left: -20px;">
            <div class="well sidebar-nav">
                <!--
                    Left navigation sidebar
                -->
                <ul class="nav nav-list">
                    <form class="form-search" _lpchecked="1">
                        <i class="icon-search icon-black"></i>
                        <input type="text" class="input-large search-query" 
                            placeholder="Find in files…"/>
                        <!--<button type="submit" class="btn">Go</button>-->
                    </form>
                    <li class="nav-header" style="height: 30px;">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#">Files in Dropbox:</a>
                                </li>
                                <li class="dropdown" style="text-transform: none;">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Actions<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-toggle="modal" id="action_add_file" href="#">
                                                <i class="icon-file icon-black"></i>
                                                New File...
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" id="action_add_subdir" href="#">
                                                <i class="icon-folder-close icon-black"></i>
                                                New Subdir...
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" id="action_rename" href="#">
                                                <i class="icon-pencil icon-black"></i>
                                                Rename...
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" id="action_delete" href="#">
                                                <i class="icon-trash icon-black"></i>
                                                Delete...
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <img src="{{ static_url('images/refresh-static.gif') }}" 
                                        alt="()"
                                        class="pull-right rotate-on-click"
                                        style="cursor:pointer; margin-top: 8px; margin-left: 20px;">
                                </li>
                            </ul>
                    </li>
                    <li id="ul_tree_control" ></li>
                    <li id="db_tree">
                        <!-- Dropbox TreeView will be inserted here with Ajax -->
                    </li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->

        <!--
            Content area
        -->
        <div id="editor_area" class="span8 offset4" style="margin-left: 20px;">
            {% include "editor/cm_stub.html" %}
        </div><!--/span-->

        <!--
            Modal dialogs (hidden until called)
        -->
        <div id="modal_dialogs" style="display:none">
            {% include "editor/modals.html" %}
        </div><!--/span-->

    </div><!--/row-->
{% endblock %} <!-- extra_body_html -->


{% block extra_body_js %}
    {{ super() }}
    <!-- jQuery plugins -->

    <!-- jQuery TreeView JS
    <script type="text/javascript" src="{{ static_url('treeview/jquery.treeview.js') }}"></script>
     -->

    <!-- JQuery JSTree -->
    <script src="{{ static_url('jstree/jquery.jstree.js') }}"></script>

    <!-- CodeMirror -->
    <script src="{{ static_url('codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/markdown/markdown.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/gfm/gfm.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/javascript/javascript.js') }}"></script>
    <script src="{{ static_url('codemirror/lib/util/searchcursor.js') }}"></script>
    <script src="{{ static_url('codemirror/lib/util/match-highlighter.js') }}"></script>

    <!-- Misc plugins -->

    <!-- Our own code (order is important !) -->
    <script src="{{ static_url('js/mdb-home-utils.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-codemirror.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-tree.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-modal.js') }}"></script>
    <script src="{{ static_url('js/mdb-home.js') }}"></script>
{% endblock %} <!-- extra_body_js -->
