{% extends "base_main.html" %}

{% block extra_title %}Home{% endblock %}

{% block extra_head %}
    {{ super() }}
    <!-- JQuery TreeView -->
    <link rel="stylesheet" href="{{ static_url('treeview/jquery.treeview.css') }}" type="text/css" />

    <!-- CodeMirror -->
    <link rel="stylesheet" href="{{ static_url('codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ static_url('codemirror/theme/eclipse.css') }}">

    <!-- bootstrap customizations -->
    <style type="text/css">
        body {
            font-family: Verdana, helvetica, arial, sans-serif;
            background: #fff;
        }
        /*
        *   Left sidebar
        */
        #db_tree_div {
            height: 445px;
            overflow: auto;
            margin-bottom: 0;
        }
        ul.nav.nav-list {
            min-height: 525px;
        }
        .nav-list {
            padding-left: 4px;
            padding-right: 4px;
            margin-bottom: 0;
        }
        .tree-node-selected {
            border-style: dotted;
            border-width: 2px;
            border-color: #B0C4DE;
                /*
                #8b0000
                ;
                */
        }
        /*
        *   Message bar
        */
        #messages_bar {
            /*
            margin-bottom: 8px;
            padding-bottom: 0;
            */
            display:        block;
            position:       absolute;
            top:            38px;
            left:           360px;
            right:          40px;
            /*padding:        2px 10px 2px 20px;*/
            margin:         0;
            padding:        0;
        }
        .message-container {
            display:        none;
            margin:         5px;
            padding:        5px;
            position:       relative;
            z-index:        100;
        }
        .message-container .close {
            right: 0;
        }
        .message-container-text {
            text-align:     center;
            margin:         0;
        }
       /*
        *   Image carousel
        *   TODO: align image vertically (HOW ??!!)
        */
        .carousel {
            min-height: 530px;
            padding:    10px;
        }
        .carousel-inner {
        }
        .carousel .item {
            width: 110%;
            margin-left: -5%;
        }
        .carousel .item img {
            max-width: 90%;
            border-width: 1px;
            border-color: red;
            border-style: dotted;
            max-height: 530px;
            margin: auto;
        }
        /*
        *   Right bar: toolbar, editor and buttons
        */
        .btn-toolbar {
            padding-top: 4px;
            padding-bottom: 0;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 0;
        }
        i.icon-search.icon-black {
            margin-top: 3px;
            margin-left: 10px;
        }
        #md_textarea {
            font-family:    monospace;
            height:         545px;
            font-size:      24px;
            margin-top:     -15px;
        }
        #btn_save {
            width: 120px;
        }
        #btn_preview {
            width: 180px;
        }

        /*
         * CodeMirror
         */
        .CodeMirror-wrap {
            margin-top:         -20px;
            margin-bottom:      5px;
            margin-left:        0;
            border:             2px solid lightBlue;
        }
        CodeMirror-wrap pre {
            word-break: break-all;
        }
        .CodeMirror-scroll {
            height:             510px;
        }
        .CodeMirror-gutter {
            width: 3em;
        }
        span.CodeMirror-matchhighlight {
            background: #e9e9e9;
        }
        .CodeMirror-focused span.CodeMirror-matchhighlight {
            background: #e7e4ff; !important
        }
        .CodeMirror-fullscreen {
            content:"Press Esc to Exit Full Screen Mode";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            margin: 0;
            padding: 0;
            border: 0px solid #BBBBBB;
            opacity: 1;
        }
        /*
        *   Modal dialogs
        */
        code {
            font-size: 14px;
        }
        .controls {
            margin-left: 30px;
            margin-right: 30px;
        }
        .radio {
            vertical-align: text-top;
            margin-left: 30px;
            margin-right: 50px;
            margin-bottom: 10px;
        }
        .modal-shifted-code {
            position: absolute;
            left: 270px;
            font-weight: bold;
            color: green;
        }
        .modal-filename-input, .add-on {
            font-size: 14px;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-left: 30px;
            width: 370px;
            font-family: "Courier New";
        }
        .modal-filename-input-error {
            margin-left: 30px;
            color: red;
            font-weight: bold;
        }
    </style>
{% endblock %} <!-- extra_head -->

{% block body_before_container %}
    {{ super() }}
{% endblock %}

{% block body_container %}
    {{ super() }}
    <!--
        Modals
    -->
    <div id="modal_placeholder"></div>
    <!--
        Messages bar for errors and info
    -->
    <div id="messages_bar"></div>

    <!--
        Main view
    -->
    <div class="row">
        <div id="left_sidebar" class="span4" style="margin-left: -20px;">
            <div class="well sidebar-nav">
                <!--
                    Left navigation sidebar
                -->
                <ul class="nav nav-list">
                    <form class="form-search" _lpchecked="1">
                        <i class="icon-search icon-black"></i>
                        <input type="text" class="input-large search-query" placeholder="Find in files…"/>
                        <!--<button type="submit" class="btn">Go</button>-->
                    </form>
                    <li class="nav-header" style="height: 30px;">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#">Files in Dropbox:</a>
                                </li>
                                <li class="dropdown" style="text-transform: none;">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Actions<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-toggle="modal" id="action_add_file" href="#">
                                                <i class="icon-file icon-black"></i>
                                                New File...
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" id="action_add_subdir" href="#">
                                                <i class="icon-folder-close icon-black"></i>
                                                New Subdir...
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" id="action_rename" href="#">
                                                <i class="icon-pencil icon-black"></i>
                                                Rename...
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" id="action_delete" href="#">
                                                <i class="icon-trash icon-black"></i>
                                                Delete...
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <img src="{{ static_url('images/refresh-static.gif') }}" alt="()"
                                        class="pull-right rotate-on-click"
                                        style="cursor:pointer; margin-top: 8px; margin-left: 20px;">
                                </li>
                            </ul>
                    </li>
                    <li id="ul_tree_control" ></li>
                    <li id="db_tree">
                        <!-- Dropbox TreeView will be inserted here with Ajax -->
                    </li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->

        <!--
            Content area
        -->
        <div id="content_area" class="span8 offset4" style="margin-left: 20px;">
            {% include "content/default.html" %}
        </div><!--/span-->

    </div><!--/row-->
{% endblock %} <!-- extra_body_html -->


{% block extra_body_js %}
    {{ super() }}
    <!-- jQuery TreeView JS -->
    <script type="text/javascript" src="{{ static_url('treeview/jquery.treeview.js') }}"></script>

    <!-- jQuery plugins -->

    <!-- CodeMirror -->
    <script src="{{ static_url('codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/markdown/markdown.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/gfm/gfm.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/javascript/javascript.js') }}"></script>
    <script src="{{ static_url('codemirror/lib/util/searchcursor.js') }}"></script>
    <script src="{{ static_url('codemirror/lib/util/match-highlighter.js') }}"></script>

    <!-- Misc plugins -->

    <!-- Our own code (order is important !) -->
    <script src="{{ static_url('js/mdb-home-utils.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-codemirror.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-tree.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-modal.js') }}"></script>
    <script src="{{ static_url('js/mdb-home.js') }}"></script>
{% endblock %} <!-- extra_body_js -->
