{% extends "base_main.html" %}

{% block extra_title %}Home{% endblock %}

{% block extra_head %}
    {{ super() }}
    <!-- JQuery JQWidgets CSS -->
    <link rel="stylesheet" href="{{ static_url('jqwidgets/styles/jqx.base.css') }}" type="text/css" />
    
    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="{{ static_url('codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ static_url('codemirror/theme/eclipse.css') }}">

    <!-- 
        Custom CSS 
    -->
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/md_preview/default.css') }}">

    <!-- JQuery UI - breaks bootstrap tooltips ?
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
     -->

    <!-- JQuery JSTree - not good looking and unreadable docs
    <script src="{{ static_url('jstree/jquery.jstree.js') }}"></script>
     -->

    <!-- JQuery JQWidgets - Tree
         TODO: replace with zTree    
     -->
    <script src="{{ static_url('jqwidgets/jqxcore.js') }}"></script>
    <script src="{{ static_url('jqwidgets/jqxbuttons.js') }}"></script>
    <script src="{{ static_url('jqwidgets/jqxscrollbar.js') }}"></script>
    <script src="{{ static_url('jqwidgets/jqxpanel.js') }}"></script>
    <script src="{{ static_url('jqwidgets/jqxtree.js') }}"></script>
    <script src="{{ static_url('jqwidgets/jqxcheckbox.js') }}"></script>
    <!-- 
    CodeMirror 
    -->
    <script src="{{ static_url('codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ static_url('codemirror/addon/mode/overlay.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ static_url('codemirror/mode/markdown/markdown.js') }}"></script>
    <!-- <script src="{{ static_url('codemirror/mode/gfm/gfm.js') }}"></script> -->
    <script src="{{ static_url('codemirror/addon/search/searchcursor.js') }}"></script>
    <script src="{{ static_url('codemirror/addon/search/match-highlighter.js') }}"></script>

    <!-- Marked (hacked for live preview) -->
    <script src="{{ static_url('js/marked-vels.js') }}"></script>

    <!-- Our own code (order is important !) -->
    <script src="{{ static_url('js/mdb-home-utils.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-codemirror.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-tree.js') }}"></script>
    <script src="{{ static_url('js/mdb-home-modal.js') }}"></script>
    <script src="{{ static_url('js/mdb-home.js') }}"></script>
{% endblock %} <!-- extra_head -->

{% block body_before_container %}
    {{ super() }}
{% endblock %}

{% block body_container %}
    {{ super() }}
    <div class="main-container">
        <!--
            Helper divs
        -->
        <!-- Modal dialogs -->
        <div id="modal_placeholder"></div>
        <div id="modal_dialogs" style="display:none">
            {% include "editor/modals.html" %}
        </div>
        <!-- Bar for messages, errors and info -->
        <div id="messages_bar"></div>

        <!--
            Main view
        -->
        <div class="main-view-container">
            <div class="main-view-left">
                <!-- Left navigation sidebar -->
                <div class="left-sidebar well">
                    {% include "sidebar/sb_default.html" %}
                </div>
                <!-- Vertical splitter between sidebar and editor area -->
                <div class="left-splitter">
                </div>
            </div>   <!-- .main-view-left -->
            <div class="main-view-right">
                {% include "editor/stub.html" %}
            </div>  <!-- .main-view-right -->
            <!-- Vertical splitter on the right side of editor area -->
            <div class="right-splitter">
            </div>
        </div>  <!-- .main-view-container -->
        <div class="sticky-footer"> 
            {% block extra_footer %}
            {% endblock %}
            <!-- Horizontal splitter between main-view-container and extra footer -->
            <div class="bottom-splitter">
            </div>
            <!--
                Preview pane - by including it into footer , we stick it to bottom 
            -->
            <div class="preview-container">
                <div class="preview-area">
                    <pre class="preview-area-stub">
            Realtime preview will be available here 

            when you select file on the left or create a new one
                    </pre>
                </div>
            </div><!--/row-->
        </div> <!-- sticky-footer -->
    </div><!-- main-container -->
{% endblock %} <!-- body_container -->
