<!--
    Toolbar for Codemirror's markdown mode
-->
<div id="cme-toolbar-container">
    <div class="cme-toolbar btn-toolbar well">
        <div class="btn-group">
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="rotate_header"
                title="Header (1-6): <b>Ctrl-H</b>" href="#">
                <!--
                <b>H</b>
                -->
                <i class="icon-text-height icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="toggle_bold"
                title="Bold: <b>Ctrl-B</b>" href="#">
                <!--
                <b>B</b>
                -->
                <i class="icon-bold icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="toggle_italic"
                title="Italic: <b>Ctrl-I</b>" href="#">
                <!--
                <b><i>I</i></b>
                -->
                <i class="icon-italic icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="toggle_code"
                title="Code block: <b>Ctrl-K</b>" href="#">
                <i class="icon-barcode icon-black"></i>
            </a>
        </div><!--/btn-group-->

        <div class="btn-group">
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="unordered_list"
                title="Unordered List: <b>Ctrl-U</b>" href="#">
                <i class="icon-th-list icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="ordered_list"
                title="Ordered List: <b>Ctrl-1</b>" href="#">
                <i class="icon-list icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="blockquote"
                title="Blockquote: <b>Ctrl-Q</b>" href="#">
                <i class="icon-chevron-right icon-black"></i>
            </a>
        </div><!--/btn-group-->

        <div class="btn-group">
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="divider_hr"
                title="Insert Divider (Horizontal Rule)" href="#">
                <i class="icon-minus icon-black"></i>
            </a>
        </div><!--/btn-group-->

        <div class="btn-group">
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="insert_image_url"
                title="Insert Image: <b>Ctrl-G</b>" href="#">
                <i class="icon-picture icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="insert_url"
                title="Insert URL: <b>Ctrl-L</b>" href="#">
                <i class="icon-magnet icon-black"></i>
            </a>
        </div><!--/btn-group-->

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown"
               title="Custom tags. You can add/remove those in Settings" href="#">
                <!--
                &nbsp;<i class="icon-font icon-black"></i>&nbsp;
                -->
                T
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="max-width: 350px;">
                <li><a id="tbb_style1" href="#">
                    <b>&lt;mycap&gt;</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Enlarge letter
                </a></li>
                <li><a id="tbb_style2" href="#">
                    <b>&lt;mycolor&gt;</b> &nbsp;&nbsp;&nbsp; Custom color
                </a></li>
                <li class="divider"></li>
                <li><a id="tbb_style3" href="#">
                    <b>&lt;myback&gt;</b> &nbsp;&nbsp;&nbsp; Custom background
                </a></li>
            </ul>
        </div><!--/btn-group-->

        <div class="btn-group pull-right">
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="toggle_width"
                title="Toggle Width: <b>Ctrl-Shift-W</b>" href="#">
                <i class="icon-resize-horizontal icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip"
                data-action="toggle_height"
                title="Toggle Height: <b>Ctrl-Shift-H</b>" href="#">
                <i class="icon-resize-vertical icon-black"></i>
            </a>
            <a class="btn btn-default btn-small cme-toolbar-tooltip-left"
                data-action="toggle_fullscreen"
                title="Enter Fullscreen: <b>Ctrl-Alt-Shift-W</b><br>To leave fullscreen mode, press <b>Esc</b>" href="#">
                <i class="icon-fullscreen icon-black"></i>
            </a>
            <!--
           <i class="icon-search icon-black "></i>
           <input type="text" class="span2 search-query"
                  id="text_search" data-items="4" data-provide="typeahead"
                  placeholder="Search in text…"/>
            -->
        </div><!--/btn-group-->
    </div><!--/btn-toolbar-->
</div><!--/cme-toolbar-container-->
